<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
</head>
<body>
    <h1>Add New Task</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="task_title">Task Title:</label>
        <input type="text" id="task_title" name="task_title" required><br><br>

        <label for="task_description">Task Description:</label>
        <textarea id="task_description" name="task_description" required rows=8 cols=40></textarea><br><br>

        <label for="task_due_date">Due Date:</label>
        <input type="date" id="task_due_date" name="task_due_date" required><br><br>

        <button type="Submit">Add Task</button>
    </form>
    <br>
    <p>{{result}}</p>

    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
