<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}

        <h1>Login</h1>

        <!-- Username Input -->
        <label for="1">Username:</label>
        <input type="text" name="username" id="1" required>
        <br><br>

        <!-- Password Input -->
        <label for="2">Password:</label>
        <input type="password" name="password" id="2" required>
        <br><br>
        
        <!-- Submit Button -->
        <button type="submit">Login</button>
        <br>

        <p>Dont have an account <a href="{% url 'signup' %}">Signup</a></p>
    </form>


</body>
</html>
